.error404 {
  align-items: center;
  background: linear-gradient(#21C08B, #AB88FF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 200px);
  padding: 0px, 30px;
}