@import "../assets/styles/components/Vars.scss";
@import "../assets/styles/components/Media.scss";

body {
  background: $main-color;
  font-family: $theme-font;
  margin: 0;
}

* {
  box-sizing: border-box;
}